/* Base media query: mobile */

html {
  background-color: azure;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

h1 {
  text-align: center;
}

h2 {
  font-family: "Playwrite US Modern", cursive;
}

nav {
  color: white;
}

#logos {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: rgb(60, 116, 141);
}

.menu-logo {
  font-size: 2em;
}

#nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: rgb(88, 136, 159);
  margin: 0;
  padding: 0;
}

#nav-list.hidden {
  display: none;
}

#nav-list li {
  padding: 0.5em 1em;
  text-align: right;
}

#nav-list li:hover {
  background-color: rgb(73, 129, 155);
}

