/* Base media query: mobile */

html {
  background-color: rgb(247, 244, 242);
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "EB Garamond", cursive;
  font-weight: 100;
}

h2 {
  font-family: "EB Garamond", cursive;
  font-weight: 100;
}

nav {
  color: white;
}

#logos {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: rgb(45, 88, 108);
}

#logos h2 {
  font-family: "EB Garamond", cursive;
  font-weight: 100;
  font-size: 2em;
}

i {
  font-size: 2em;
}


#nav-list {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: rgb(88, 136, 159);
  margin: 0;
  padding: 0;
}

#nav-list.hidden {
  display: none;
}

#nav-list li {
  padding: 0.5em 1em;
  text-align: right;
}

#nav-list li:hover {
  background-color: rgb(73, 129, 155);
}

#hero-section {
  height: 50vh;
  background-color: rgb(60, 116, 141);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0, 0.6)), url("/images/hero-image.jpg");
  background-size: cover;
}

#hero-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  text-align: center;
  color: white;
}

#hero-text h1{
  font-family: "Outfit", sans-serif; 
  font-weight: 600;
}

button {
  font-size: 1.5em;
  font-weight: 400;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 6px;
  padding: 0.2em 0.5em;
  max-width: 70vw;
}

#features-section {
  padding: 1em 0.75em;
}

#features-section h1 {
  text-align: center;
  color: rgb(74, 52, 28);
}

#features-row {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.feature-card {
  color: rgb(74, 52, 28);
  text-align: center;
  margin: 1em;
  padding: 1em 1.2em 1.5em 1.2em;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ded6cf, 
            -5px -5px 10px #fffefe;
}

#about-section {
  /* position relative is needed so absolutely-positioned #blur-layer can have a positioned parent to reference*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  background-image: url("/images/hero-section-bg.jpg");
  background-size: cover;
  height: 50vh;
}

#blur-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  /* height: 40px; */
  background-color: rgba(235, 249, 255, 0.4);
  backdrop-filter: blur(4px);
}

#about-text {
  /* position other than static is needed to let z-index take effect */
  position: relative;
  z-index: 1;
  padding: 2em;
  color:rgb(5, 8, 9)
}

#contact-section {
  height: 75vh;
  background-color: rgb(45, 88, 108);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 2em;
  color: rgb(247, 244, 242);
  text-align: center;
}

#contact-section h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

#contact-form {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  margin-top: 0.5em;
}

input, textarea {
  width: 100%;
  border-radius: 10px;
  border: 0px;
  padding: 0.5em;
  background-color: rgb(73, 129, 155);
}