/* Base media query: mobile */

html {
  background-color: azure;
}

body {
  margin: 0;
}

nav {
  background-color: bisque;
}

#logos {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}

ul {
  list-style-type: none;
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}