html {
  background-color: azure;
  padding: 0;
}

nav {
  background-color: bisque;
  width: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}